doctype html
html(lang="en")
    head
        title Quotes for Developers
        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="./css/main.css")
        script(type="text/javascript" src="./js/app.js")
    body
        Main
            section.container
                header 
                    h1.heading-one Quotes
                    p.heading-two for
                    h1.heading-three Developers
                div
                    button.quote.center-block
